<!DOCTYPE html>
<html>
  <head>
    <title>DlThink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag image_path("favicon.ico") %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar"%>
        <%= render "common/flashes" %>
        <div class="container" style="min-height: 800px;">
          <div class="row" >
            <div class="col-md-3">
              <div class="main-left">
                <div class="main-left-actions">
                  <%= link_to "返回列表", blogs_path, :class=>"btn btn-md btn-primary" %>
                  <% if current_user && current_user.is_admin %>
                    <%= link_to "写文章", new_blog_path, :class=>"btn btn-md btn-primary" %>
                    <%= link_to "标签管理", tags_path, :class=>"btn btn-md btn-primary" %>
                  <%end%>
                </div>

                <p class="main-left-title">标签</p>
                <div class="main-left-tabs">
                  <%= link_to '全部', blogs_path, :class=>"label label-success"%>
                  <% Tag.all.each do |tag| %>
                    <%= link_to tag.name, blogs_path(tag_id: tag.id), :class=>"label label-success"%>
                  <%end%>
                </div>
              </div>

            </div>
            <div class="col-md-9">
              <%=yield%>
            </div>
            <!-- <div class="col-md-2">

            </div> -->
          </div>
        </div>
        <%=render "common/footer"%>
      </div>

    </div>
  </body>
</html>

<!-- 设置alert消息自动隐藏 -->
<script>
    setTimeout("$('.alert-container').fadeOut('slow')", 3000)
</script>
